

/* formulaire */
.card-box, .da-card{
	width: 100%;
	background-color: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
	-moz-box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
	box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
	padding: 20px;
}

.flex-fill
{
	width: 100% !important;
}

.table-wrapper-profile {
	overflow-y: auto;
	max-height: 250px !important;
}

.table-responsive {
	overflow: hidden;
}

.tri
{
	cursor: pointer;
}

.card-title
{
	font-weight: 600 !important;
	color: rgb(59, 59, 59) !important;
}